/**
 * Global Variables
 **/
/**
 * Form Render Global Styles
 **/
.form-render {
  margin: 25px 20px;
  /**
   * Select
   **/
  /**
   * Override Text Area
   **/
  /**
   * Birthday Picker
   **/
  /**
   * Popover Form
   **/
  /**
   * SubForm Style
   **/
  /**
   * Actions Container
   **/
  /**
   * Error Styles
   **/
  /**
   * Read Mode Styles
   **/
  /**
   * Fields Style
   **/
  /**
   * CopyValuesFrom Options
   **/
  /**
   * For btn-group in Wizard View
   **/
  /**
   * For MultiFiles Field Type
   **/ }
  .form-render label span.required {
    color: #B94A48;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px; }
  .form-render fieldset {
    clear: both; }
    .form-render fieldset.birthday-picker {
      clear: none; }
  .form-render select {
    min-width: 220px;
    width: auto; }
    .form-render select[class^="birth-"] {
      min-width: 0; }
  .form-render textarea {
    min-height: 100px; }
  .form-render .row-fluid [class*="span"] textarea {
    min-height: 100px; }
  .form-render .birthday-picker select {
    margin-right: 10px; }
    .form-render .birthday-picker select:last-child {
      margin-right: 0; }
  .form-render .popover-form .popover-action {
    text-align: center; }
    .form-render .popover-form .popover-action .popover-submit {
      margin-right: 30px; }
  .form-render .controls-row input, .form-render .controls-row select, .form-render .controls-row textarea {
    margin-bottom: 15px; }
  .form-render .controls-row .add-on {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 18px; }
  .form-render .subform-container {
    padding: 20px;
    margin-bottom: 30px; }
    .form-render .subform-container input, .form-render .subform-container select, .form-render .subform-container textarea {
      margin-bottom: 15px; }
    .form-render .subform-container .active {
      padding: 30px 20px 0;
      border: 1px solid #D5D5D5;
      border-radius: 8px;
      background: #FFF; }
      .form-render .subform-container .active form {
        margin-bottom: 0; }
        .form-render .subform-container .active form .form-actions {
          margin-bottom: 5px; }
    .form-render .subform-container .actions {
      padding: 15px 25px 0; }
    .form-render .subform-container .subform-collection {
      margin: 20px auto; }
    .form-render .subform-container .subform-actions {
      text-align: center; }
      .form-render .subform-container .subform-actions .subform-edit-model {
        margin-right: 30px; }
      .form-render .subform-container .subform-actions .popover-title {
        padding: 12px; }
  .form-render .form-actions {
    text-align: center;
    padding: 19px 20px 20px; }
    .form-render .form-actions .btn {
      margin-right: 50px; }
      .form-render .form-actions .btn:last-child {
        margin-right: 0; }
    .form-render .form-actions .popover-title, .form-render .form-actions .popover-inner {
      color: #b94a48; }
    .form-render .form-actions .popover.success .popover-title, .form-render .form-actions .popover.success .popover-inner {
      color: #468847; }
    .form-render .form-actions .popover-title {
      text-align: left;
      font-weight: bold; }
  .form-render input, .form-render select, .form-render textarea {
    margin-bottom: 10px; }
    .form-render input[type="file"].invalid, .form-render select[type="file"].invalid, .form-render textarea[type="file"].invalid {
      border: solid 1px #b94a48; }
    .form-render input.invalid, .form-render select.invalid, .form-render textarea.invalid {
      border-color: #b94a48;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-render.read-mode fieldset.table-view {
    margin-bottom: 30px; }
  .form-render .uneditable-input {
    width: 80%; }
  .form-render .uneditable-input-textarea {
    height: auto; }
  .form-render .uneditable-input-image {
    max-height: 250px;
    max-width: 500px; }
  .form-render .emailpicker .add-on {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    top: -3px;
    font-size: 16px; }
  .form-render .copy-values-from {
    margin: 20px auto; }
    .form-render .copy-values-from label {
      display: inline; }
    .form-render .copy-values-from .btn-group {
      margin-left: 30px; }
  .form-render .wizard-view .step-content .btn-group .active {
    display: inline; }
  .form-render .fileupload-buttonbar .fileinput-button {
    margin-right: 30px; }
    .form-render .fileupload-buttonbar .fileinput-button input[type="file"] {
      display: none; }
