<% for (var i=0, file; file=collection[i]; i++) { %>
    <tr class="template-upload">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name"><%=file.name%></p>
            <% if (file.error) { %>
                <div><span class="label label-important">Error</span> <%=file.error%></div>
            <% } %>
        </td>
        <td>
            <p class="size" data-size="<%= file.size %>"><%=convertFileSize(file.size)%></p>
        </td>
        <td>
            <button class="btn btn-danger cancel" type="button">
                <i class="icon-trash icon-white"></i>
                <span>Remove</span>
            </button>
        </td>
    </tr>
<% } %>