<a id="module-approval-btn" href="" class="btn btn-primary">Approval Decision</a>
<div id="module-approval-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Approval Decision</h3>
  </div>
  <div class="modal-body">
    <form class="render-default">
      <label class="control-label" for="approval-comment">Comment</label>
      <textarea name="textarea" id="approval-comment" name="approval-comment"></textarea>
    </form>
    <p style="display:none" id="module-approval-loader">
      <img src="//public.southernnevadahealthdistrict.org/assets/css/apps/img/select2-spinner.gif"> Sending Information
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success">Approve</a>
    <a href="#" class="btn btn-danger">Deny</a>
  </div>
</div>