<a id="module-append-comment-btn" href="" class="btn btn-info">Add a Comment</a>
<div id="module-append-comment-modal" class="modal hide fade append-comment-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Add a Comment</h3>
  </div>
  <div class="modal-body">
    <form class="render-default">
      <label class="control-label" for="append-comment">Comment</label>
      <textarea name="textarea" id="append-comment" name="append-comment"></textarea>
    </form>
    <p style="display:none" id="module-append-comment-loader">
      <img src="//public.southernnevadahealthdistrict.org/assets/css/apps/img/select2-spinner.gif"> Sending Information
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success">Submit</a>
    <a href="#" class="btn btn-danger">Close</a>
  </div>
</div>