<% if(href === null) { %>
<span class="input-xlarge uneditable-input">File has been removed.</span>
<% } else { %>
<!-- For LightBox -->
<% if (value) { %>
<a id="<%= id %>_lightbox" data-lightbox="<%= id %>" href="<%= href %>" title="<%= text %>"><img class="uneditable-input-image" alt="<%= text %>"<%= _attr %>/></a>
<% } else { css_class += ' hide '; } %>

<!-- If this is not Images type file will render this -->
<a href="<%= href %>" title="<%= text %>" target="_blank" class="btn btn-primary lightbox-fallback <%= css_class%>" style="display: none" id="<%= id %>_render_file" <%= data_webcam %> data-field-name="<%= name %>" data-mongo-id="<%= mongo_id %>" <%= internal %>>View File</a>
<% } %>
