<%
var field = arguments[0];
field.attributes = field.attributes || {};
var _id = (field.attributes.id) ? field.attributes.id: field.name;
var data = field.data;
var _date = new Date().getTime();
var _url = field.options.url;
if (_url[_url.length - 1] !== '/') {
    _url += '/';
}
_url += formId;
%>
<div id="<%= _id %>_<%= _date %>" class="filerepository-wrapper">
    <!-- Render Button -->
    <div class="text-right">
        <a href="#modal_<%= _id %>_<%= _date %>" role="button" class="btn btn-primary filerepository-button">Add a New <%= field.description %></a>
    </div>

    <!-- Modal Mark Up -->
    <div id="modal_<%= _id %>_<%= _date %>" class="filerepository-form-wrapper modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_<%= _id %>_<%= _date %>" aria-hidden="true" data-backdrop="static" data-keyboard="false" data-url="<%= _url %>">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Add a New <%= field.description %></h3>
      </div>
      <div class="modal-body">
        <!-- Alert -->
        <div class="alert alert-info">
          <strong>Tip!</strong>  Please review this form before submission, it cannot be changed.
        </div>
        <!-- Form -->
        <div class="filerepository-form">
            <label for="<%= field.name %>_<%= _date %>">File to Upload</label>
            <input type="file" name="<%= field.name %>" id="<%= field.name %>_<%= _date %>">
            <label for="<%= field.name %>_description_<%= _date %>">Description</label>
            <textarea name="<%= field.name %>_description" id="<%= field.name %>_description_<%= _date %>"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a class="btn btn-primary btn-submit-filerepository">Submit</a>
      </div>
    </div>

    <!-- Render Tables -->
    <% if (data) {
        /** Format Data **/
        var _title = {};
        var _keyToRender = ['CreatedDate', 'FileName', 'Description'];
        _.each(data, function(_i, row) {
            _.each(_i, function(v, k) {
                if (typeof _title[k] === 'undefined') {
                    var kv = null;
                    var kl = k.trim().toLowerCase();
                    switch(kl) {
                        case 'contenttype':
                        case 'mongoid':
                            kv = false;
                            break;
                        case 'createddate':
                            kv = 'Received Date';
                            break;
                        case 'filename':
                            kv = 'File Name';
                            break;
                        case 'description':
                            kv = 'Description';
                            break;
                        default:
                            if (console && console.warn) {
                                console.warn('[x] FileRepository render data - not implement "' + k + '"');
                            }
                    }
                    _title[k] = kv;
                }
            });
        });
    %>
    <table class="table table-striped table-bordered table-hover stupidtable">
        <thead>
            <tr>
                <% _.each(_keyToRender, function(_k) { %>
                <th data-sort="string"><%= _title[_k] %></th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(d) {
                var tok = d.ContentType.trim().split('/');
                var ico = tok[tok.length - 1].replace(/[\/|\s*]/ig,'');
                var type = tok[0].trim();
                var href = Utils.config.fileUrl;
                if (href[href.length - 1] !== '/') {
                    href += '/';
                }
                href += d.MongoId;
                var aClass;
                switch (type) {
                    case 'image':
                        aClass = 'data-lightbox="' + formId + '"';
                        break;
                }
            %>
            <tr>
                <td><%= Utils.getHumanTime(d.CreatedDate.$date / 1000) %></td>
                <td class="show-ex-icon <%= ico %>">
                    <p>
                        <a href="<%= href %>" title="File: <%= d.FileName %>" <%= aClass %> id="<%= formId %>_lightbox"><%= d.FileName %></a>
                        <a href="<%= href %>" title="Download File: <%= d.FileName %>" target="_blank" style="display: none" id="<%= formId %>_render_file" class="lightbox-fallback"><%= d.FileName %></a>
                    </p>
                </td>
                <td><%= d.Description %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
</div>